<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fanclub"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="landscape"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        <activity
            android:name="com.fanclub.HomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.fanclub.VideoActivity"
            android:label="@string/title_activity_video"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.VIDEO_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.fanclub.PhotosActivity"
            android:label="@string/title_activity_photos"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.PHOTOS_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.fanclub.NewsActivity"
            android:label="@string/title_activity_news"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.NEWS_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.fanclub.PhotosPagerViewActivity"
            android:label="@string/title_activity_photos_pager_view" >
            <intent-filter>
                <action android:name="android.intent.action.PHOTOS_PAGER_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.fanclub.CustomWebViewActivity"
            android:label="@string/title_activity_custom_web_view"
            android:theme="@android:style/Theme.Light" >
            <intent-filter>
                <action android:name="android.intent.action.CUSTOM_WEB_VIEW_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.fanclub.FanWallActivity"
            android:label="@string/title_activity_fan_wall" >
            <intent-filter>
                <action android:name="android.intent.action.FANWALL_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>